.two-columns {
    display: flex;
    width: 80%;
    /* border: 1px solid red; */
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto 0 auto;
  }