.header__title {
    /*margin-left: 64px;*/
    margin: 0 0 0 64px;
    position: relative;
    max-width: 730px;
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
    z-index: 2;
  }